*{
    margin: 0;
    padding: 0;
}
.card-collection{
    margin-top: 75px;
    font-weight: bold;
    text-align: center;
    font-family: economic;
    margin-bottom: -106px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
   
    margin-top: 6rem;
    justify-content: space-around;
    
}

.card-image{
    background-color: rgb(199, 191, 191);
}
   
  
 .card-img{
    height: 27rem;
    width: 20rem;
    margin-top: -6px;
    margin-left: 16px;
    border-radius: 4px;
    }
